.mute-button {
  cursor: pointer;
  user-select: none;
}

.info-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 24px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  pointer-events: none;
}

.content-container {
  transform: translateY(calc(100% - 24px));
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transition: transform 0.3s ease;
  text-align: end;
  pointer-events: auto;
}

.content-container.open {
  transform: translateY(0);
}

a {
  color: white;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.nav-title {
  font-size: 2.5em;
  pointer-events: auto;
}

.nav-title:hover {
  color: var(--pink);
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  margin-top: 0.25em;
  transform: rotateZ(0deg);
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.arrow.open {
  transform: rotateZ(180deg);
}

.navlist-container {
  display: flex;
  width: fit-content;
  transform: translateX(calc(100% - 32px));
  transition: transform 0.3s ease;
  pointer-events: none;
}

.navlist-container.open {
  transform: translateX(0);
}

.navlist {
  list-style: none;
  margin: 0;
  margin-left: 24px;
  padding: 0;
}

.nav-item {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 1.5em;
  pointer-events: auto;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--pink);
}

.overlay-container {
  pointer-events: none;
}

.experience-overlay,
.projects-overlay {
  position: relative;
  left: -16px;
  height: 550px;
  width: 600px;
  background-color: aqua;
  opacity: 50%;
}

.projects-overlay {
  background-color: hotpink;
  width: 650px;
  height: 600px;
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .nav-title {
    font-size: 1.75em;
  }
}
