.mute-button {
  cursor: pointer;
  user-select: none;
}

.info-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 24px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  pointer-events: none;
}

.content-container {
  transform: translateY(calc(100% - 24px));
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transition: transform 0.3s ease;
  text-align: end;
  pointer-events: auto;
}

.content-container.open {
  transform: translateY(0);
}

a {
  color: white;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.nav-title {
  font-size: 2.5em;
  pointer-events: auto;
}

.nav-title:hover {
  color: var(--pink);
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  margin-top: 0.25em;
  transform: rotateZ(0deg);
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.arrow.open {
  transform: rotateZ(180deg);
}

.navlist-container {
  display: flex;
  width: fit-content;
  transform: translateX(calc(100% - 32px));
  transition: transform 0.3s ease;
  pointer-events: none;
}

.navlist-container.open {
  transform: translateX(0);
}

.navlist {
  list-style: none;
  margin: 0;
  margin-left: 24px;
  padding: 0;
}

.nav-item {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 1.5em;
  pointer-events: auto;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--pink);
}

.overlay-container {
  pointer-events: none;
}

.experience-overlay,
.projects-overlay {
  position: relative;
  left: -16px;
  height: 500px;
  width: 550px;
  pointer-events: auto;
}

.projects-overlay {
  background-color: white;
  width: 590px;
  height: 540px;
  overflow: hidden;
  cursor: url("/WiiUIAssets/wiiCursor.png") 0 0, auto;
}

.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 24px;
  border: 4px solid white;
  border-radius: 20px;
  background: none;
  color: white;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.1em;
  padding: 0 16px;
}

.exit-button:hover {
  color: var(--pink);
  border-color: var(--pink);
  cursor: inherit;
}

.wii-button-container {
  width: 100%;
  background: radial-gradient(circle at top center, #d2d2d2, #e6e6e4);
  position: absolute;
  bottom: 0;
  height: 25%;
  border-top: 2px solid #a4a4a4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wii-button {
  background-image: url("/WiiUIAssets/wiiButton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 224px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.75em;
  user-select: none;
  transition: transform 0.2s ease;
}

.wii-button:hover {
  transform: scale(1.1);
}

.wii-button:active {
  background-image: url("/WiiUIAssets/wiiButtonPressed.svg");
}

@keyframes arrowFloatAnimation {
  0% {
    margin: 0 32px;
  }
  50% {
    margin: 0 24px;
  }
  100% {
    margin: 0 32px;
  }
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}

.arrow-buttons > img {
  animation: arrowFloatAnimation 1.5s ease-in-out infinite;
}

.arrow-buttons > img:hover {
  transition: transform 0.2s ease;
  transform: scale(1.1);
  color: aqua;
}

.experience-overlay {
  font-family: "TiVo";
  background-image: url("/TiVoAssets/TiVoBackground.png");
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.experience-fallback {
  background-color: grey;
}

.tivo-logo {
  display: inline;
}

.tivo-header {
  margin: 24px 0 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.tivo-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tivo-title {
  margin: 0;
  text-shadow: 1px 1px 2px black;
  color: #d29c5a;
  font-size: 3.25em;
}

.tivo-menu-body {
  margin: 5% 0 10% 10%;
  border: 2px solid white;
  border-right: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  height: 100%;
  box-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  /* prevents absolute-ly positioned child elements
   from changing position during animation 
   (when the class has a 'transform' attribute) */
  transform: scale(1);
}

@keyframes menuBodySlideAnimation {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(110%);
  }
  60% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

.tivo-menu-body.animate {
  animation: menuBodySlideAnimation 1s ease 1;
}

#experience-float-1,
#experience-float-2,
#work-float {
  width: 150px;
  position: absolute;
  user-select: none;
  z-index: 1;
  filter: blur(1px);
}

#experience-float-1,
#experience-float-2 {
  width: 400px;
}

@keyframes experienceFloat1Animation {
  0% {
    right: -40px;
    opacity: 0%;
  }
  10% {
    opacity: 50%;
  }
  40% {
    opacity: 50%;
  }
  50% {
    right: 15%;
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

#experience-float-1 {
  top: 9%;
  animation: experienceFloat1Animation 8s linear infinite;
}

@keyframes experienceFloat2Animation {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
    transform: scale(1);
  }
  40% {
    opacity: 75%;
  }
  80% {
    opacity: 0%;
    transform: scale(2);
  }
  100% {
    opacity: 0%;
  }
}

#experience-float-2 {
  top: 6%;
  left: 10%;
  animation: experienceFloat2Animation 8s linear infinite;
}

@keyframes workFloatAnimation {
  0% {
    opacity: 0%;
  }
  50% {
    left: 20%;
    opacity: 0%;
  }
  60% {
    opacity: 75%;
  }
  90% {
    opacity: 75%;
  }
  100% {
    left: 50%;
    opacity: 0%;
  }
}

#work-float {
  top: 15%;
  animation: workFloatAnimation 8s linear infinite;
}

.experience-list {
  list-style: none;
  margin-top: 24px;
}

.experience-list-item {
  display: grid;
  grid-template-columns: 50% 25% 15%;
  gap: 5%;
  margin: 8px 0;
  margin-right: 10%;
  padding: 4px 0;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.experience-list-item > p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin: 0;
  z-index: 10;
}

.experience-list-item::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -30%;
  width: 112%;
  height: 100%;
  background: linear-gradient(to bottom, #425388, #587acc);
  z-index: 0;
  transform: translateX(-100%);
  border: 2px solid #d29c5a;
  border-radius: 30px;
}

.experience-list-item:hover::before {
  transform: translateX(0);
}

.experience-list-item.closed::before {
  content: none;
}

#up-arrow,
#down-arrow {
  position: absolute;
  transition: transform 0.2s ease;
  left: 45%;
}

#down-arrow {
  bottom: 0;
}

#up-arrow:hover,
#down-arrow:hover {
  transform: scale(1.1);
}

#left-arrow {
  position: absolute;
  top: 42%;
}

#left-arrow:hover {
  transform: scale(1.1);
}

.details-container {
  padding: 2% 5% 0 10%;
  overflow-y: scroll;
  height: 100%;
  max-height: 285px;
}

.details-container > p {
  white-space: pre-line;
  font-size: 1em;
}

.header-container > * > h1 {
  font-size: 1.4em;
}

.header-container > * > h2 {
  font-size: 1.1em;
}

.header-container > img {
  margin-top: 2%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdown {
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 200;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.dropdown-toggle,
.dropdown-list {
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-right: none;
  color: white;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px black;
  cursor: pointer;
}

.dropdown-toggle > img {
  margin-left: 16px;
}

.dropdown-list {
  list-style: none;
  position: relative;
  border: 2px solid white;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 0;
  margin-top: 8px;
}

.dropdown-option {
  cursor: pointer;
  padding: 4px 32px 4px 16px;
}

.dropdown-option:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-option.selected {
  cursor: default;
  color: grey;
}

.dropdown-option.selected:hover {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .nav-title {
    font-size: 1.75em;
  }
}
