body {
  background-color: #000;
  color: white;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  transition-property: opacity;
  transition-timing-function: linear;
  opacity: 100%;
}

.ui-container {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 3vh;
}

.play-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
  margin-top: 25px;
}

.play-button:hover {
  color: #ee2cf5;
}
