:root {
  --pink: #ee2cf5;
  --wii-blue: #3dc3f1;
}

html,
body {
  background-color: #000;
  color: white;
  overflow: hidden;
  overscroll-behavior: none; /* to prevent scrolling past viewport on mobile */
}

.fullscreen,
.fullscreen-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullscreen-canvas {
  top: -50vh;
  left: -50vw;
}

.loader {
  transition-property: opacity;
  transition-timing-function: linear;
  opacity: 100%;
}

.landing {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 300ms;
  background-color: black;
}

.ui-container {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  pointer-events: none;
}

.play-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
}

.play-button:hover {
  color: var(--pink);
}

.volume-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
}

.volume-controls > div {
  margin: 0 24px;
}

.special-gothic {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 6em;
  text-align: center;
  margin-top: -0.5em;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .volume-controls {
    margin-top: 16px;
  }

  .title {
    font-size: 4em;
  }
}
